.app-white-bg {
    background: white;
}
.app-white-fg {
    color: #fff;
}

.app-black-bg {
    background: #262626;
}
.app-black-fg {
    background: #262626;
}

.primary-bg {
    background: #5148d4 !important;
}