.border-radius-100 {
    border-radius: 100%;
}

.border-radius-2 {
    border-radius: 2px;
}

.border-radius-4 {
    border-radius: 4px;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-16 {
    border-radius: 16px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.mat-icon {
    color: #6b6b6b;
}

.w-100 {
    width: 100%;
}

.text-capitalize {
    text-transform: capitalize;
}

.position-relative {
    position: relative;
}